<div>
    <h2>Shopping-cart</h2>

    <mat-list role="list" style="height:50vh;">
        <mat-list-item role="listitem" *ngFor="let item of cartItems">
            <span>{{item.quantity}}</span>
            {{item.title}}
            <small>${{item.price}}</small>
            <span>
                <button mat-raised-button (click)="subtrackQuantity(item)">-</button>
                <button mat-raised-button (click)="addQuantity(item)">+</button>
            </span>
        </mat-list-item>
    </mat-list>
    <button mat-raised-button (click)="clearCart()">Clear</button>
    <h3>Total: $ {{total}}</h3>
    <button mat-raised-button>Submit</button>
</div>