.product-list-area
    height: 500px
    overflow-y: auto
    display: flex
    flex-wrap: wrap
    max-width: 800px
    justify-content: space-between
    background-color: whitesmoke
    padding: 10px

.product-list-area-item
    width: 30%

.search-field
    width: 100%