<h1 mat-dialog-title>Add product</h1>

<!-- mat-form-field style="width: 100%" floatLabel='never' -->
  <input matInput [(ngModel)]="searchText" placeholder="Search" autocomplete="off">
<!-- /mat-form-field -->

<div mat-dialog-content>
  <a *ngFor="let item of products | filter: searchText" (click)="selectItem(item);">
  <ul>
    <li>
    <!-- li *ngFor="let item of products; index as i; first as isFirst" -->
      <mat-card-header>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
      </mat-card-header>
    </li>
  </ul>
  </a>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>