<h1>Add product</h1>

<div>
  <mat-form-field style="width: 50%">
    <input matInput [(ngModel)]="searchText" placeholder="Search" autocomplete="off">
  </mat-form-field>
  
  <a *ngFor="let item of products | filter: searchText">
  <ul>
    <li>
    <!-- li *ngFor="let item of products; index as i; first as isFirst" -->
      <app-item-card (itemCardEmitter)="selectItem($event)" [item]="item"></app-item-card>
    </li>
  </ul>
  </a>
</div>

<div>
  <button>No</button>
  <button>Ok</button>
</div>